@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    text-align: center;
    padding: 50px;
}
header > h1{
    color: white;
    font-family: var(--fonte2), var(--fonte1);
    font-weight: bold;
}
header > h1 > span{
    font-size: 1.5em;
}
header > p{
    color: white;
    font-family: var(--fonte1);
}
header > p > a{
    color: white;
    text-decoration: none;
    font-family: var(--fonte1);
    font-weight: bold;
}
header > p > a:hover{
    text-decoration: underline;
}
main > p{
    font-family: var(--fonte3);
    margin-top: 40px;
    padding: 0px 0px 0px 30px;
    line-height: 2em;
}
.img1{
    background-image: url('../imagens/background001.jpg');
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 40px 30px;
    background-size: cover;
    box-shadow: inset 7px 7px 10px rgba(0, 0, 0, 0.452);
    margin-top:50px;
}
.img1 > p{
    max-width: 200px;
    background-color: rgba(0, 0, 0, 0.575);
    color: white;
    font-family: var(--fonte3);
    padding: 5px 0px 0px 5px;
    line-height: 2em;
    font-weight: normal;
}
.img2{
    background-image: url('../imagens/background002.jpg');
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 40px 30px;
    background-size: cover;
    box-shadow: inset 7px 7px 10px rgba(0, 0, 0, 0.452);
    margin-top: 50px;
}
.img2 > p{
    max-width: 200px;
    background-color: rgba(0, 0, 0, 0.575);
    color: white;
    font-family: var(--fonte3);
    padding: 10px;
    line-height: 2em;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: var(--fonte1);
}
footer a{
    font-weight: bold;
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: underline;
}
.up{
    margin-bottom: 50px;
}
@media (max-width: 480px){
    header p{
        font-size: 0.8em;
    }
    main p{
    font-size: 1em;
    }
    .img1 p{
        min-width: 200px;
    }
    .img2 p{
        min-width: 200px;

    }
    footer p{
        font-size: 0.6em;
        
    }
}
@media (min-width: 481px) and (max-width: 767px){
    header h1{
        font-size: 2.7em;
    }
    header p{
        font-size: 0.9em;
    }
    main p{
        font-size: 1.2em;
        }
        .img1 p{
            min-width: 230px;
            max-width: 20px;
        }
        .img2 p{
            min-width: 230px;
            max-width: 20px;
        }
        footer p{
            font-size: 0.7em;
        }
}
@media (min-width: 768px) and (max-width: 1024px){
    header h1{
        font-size: 3.4em;
    }
    main p{
        font-size: 1.5em;
        }
        .img1 p{
            min-width: 280px;
            padding: 5px 5px 0px 5px;
        }
        .img2 p{
            min-width: 280px;
            padding: 5px 5px 0px 5px;
        }
        footer p{
            font-size: 0.8em;
        }
}
@media (min-width: 1025px) and (max-width: 1280px){
    header h1{
        font-size: 3.8em;
    }
    main p{
        font-size: 1.7em;
        }
        .img1 p{
            min-width: 320px;
        }
        .img2 p{
            min-width: 320px;
        }
        footer p{
            font-size: 0.9em;
        }
}
@media (min-width: 1281px){
    header h1{
        font-size: 4.2em;
    }
    main p{
        font-size: 1.9em;
        }
        .img1 p{
            min-width:  380px;
        }
        .img2 p{
            min-width:  380px;
        }
}